Agent-Bitcoin.json
{
  "name": "Agent-Bitcoin",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You just received a message or payment decision from Payment Decision Agent.\n\nRespond based on what actually happened:\n- If a valid payment was received (amount > 0 and amount < 1000001), thank Agent A and mention the amount and reason if available.\n- If the payment was rejected or invalid (amount < 1 or amount > 1000001 or pay: false), politely explain that the payment was not accepted and why. Use the rejection_reason if it is provided.\n\nKeep your response natural, concise, and professional.",
        "options": {
          "systemMessage": "=You are Agent B, a financial agent on regtest.\n\nYou just received a payment decision from Payment Decision Agent.\n\nData received:\npay: {{ $json.pay }}\namount: {{ $json.amount }} sats\nreason: {{ $json.reason }}\nrejection_reason: {{ $json.rejection_reason }}\nmessage: {{ $json.message }}\n\nResponse rules:\nIf pay is true and amount > 0 and amount < 1000001: Respond politely and gratefully. Mention the amount and reason.\nIf pay is false or amount < 1 or amount > 1000000: Respond honestly and clearly. Use the rejection_reason if available to explain why the payment was rejected. Do not thank for the payment.\n\nKeep your responses natural, concise, and professional."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -960,
        304
      ],
      "id": "e4cd716d-c244-4b8f-a07f-0e093a709516",
      "name": "Agent-B"
    },
    {
      "parameters": {
        "model": "grok-4-1-fast-reasoning",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        -3928,
        504
      ],
      "id": "7598f97e-0abc-48cb-b6e8-2ca89420b1ae",
      "name": "xAI Grok Chat Model",
      "credentials": {
        "xAiApi": {
          "id": "PMdmcUf8yvkad866",
          "name": "xAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "grok-4-1-fast-reasoning",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        -888,
        528
      ],
      "id": "a47872ee-84a2-434d-843d-ea1e1b07be20",
      "name": "xAI Grok Chat Model1",
      "credentials": {
        "xAiApi": {
          "id": "PMdmcUf8yvkad866",
          "name": "xAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://agent-b-lnd:8080/v1/invoices",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Grpc-Metadata-macaroon",
              "value": "0201036c6e6402f801030a105b495a2ce7a0df6fbab73d7aa52dda711201301a160a0761646472657373120472656164120577726974651a130a04696e666f120472656164120577726974651a170a08696e766f69636573120472656164120577726974651a210a086d616361726f6f6e120867656e6572617465120472656164120577726974651a160a076d657373616765120472656164120577726974651a170a086f6666636861696e120472656164120577726974651a160a076f6e636861696e120472656164120577726974651a140a057065657273120472656164120577726974651a180a067369676e6572120867656e657261746512047265616400000620e46f10894391b724dbf75d6acf42aa9682021a4e4e735ab3bcabcb9d2611d25d"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"memo\": \"{{ $json.reason }}\",\n  \"value\": \"={{ $node[\"Calculate Fixed Fee\"].json.net_amount_to_payee }}\"\n}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2528,
        136
      ],
      "id": "1288c09b-6bba-466e-b948-06ff02d4cf57",
      "name": "Create Invoice Agent-B",
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fromEmail": "richardcaseyhpc@protonmail.com",
        "toEmail": "richardcaseyhpc@protonmail.com",
        "subject": "Agent Bitcoin Payment Report",
        "html": "=<p><strong>Lightning Payment Report</strong></p>\n<p><strong>Date:</strong> {{ $now.format('yyyy-MM-dd') }}</p>\n<p><strong>Time:</strong> {{ $now.format('HH:mm:ss') }}</p>\n<p><strong>From:</strong> {{ $node[\"Merge\"].json.from || $json.from || $node[\"Webhook\"].json.body.from || \"Unknown Agent\" }}</p>\n<p><strong>To:</strong> Agent-B</p>\n<hr>\n\n<p><strong>Status:</strong> \n  {{ $node[\"Get Final State\"].json.status === 'rejected' ? '❌ Rejected' : '✅ Success' }}\n</p>\n\n<p><strong>Original Amount:</strong> {{ $node[\"Get Final State\"].json.original_amount || $node[\"Merge\"].json.payment_amount || 0 }} sats</p>\n<p><strong>Fee (Intermediary):</strong> {{ $node[\"Get Final State\"].json.fee_sats || 0 }} sats</p>\n<p><strong>Net Amount to Recipient:</strong> {{ $node[\"Get Final State\"].json.net_amount_to_payee || $node[\"Get Final State\"].json.payment_amount || 0 }} sats</p>\n\n<p><strong>Payment Hash:</strong> {{ $node[\"Get Final State\"].json.payment_hash }}</p>\n<p><strong>Reason:</strong> {{ $node[\"Get Final State\"].json.reason }}</p>\n\n{{ $node[\"Get Final State\"].json.status === 'rejected' ? \n  '<p><strong>Rejection Message:</strong> ' + \n  ($node[\"Get Final State\"].json.rejection_reason || \n   $node[\"Get Final State\"].json.agent_b_message || \n   'Payment was rejected or blocked by guardrail') + \n  '</p>' \n: '' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -1184,
        304
      ],
      "id": "7a24b685-ba38-464d-a26e-d407e14a42e7",
      "name": "Send Email Report",
      "webhookId": "8046c746-8f9f-4a48-b844-a4f79bc97f0c",
      "credentials": {
        "smtp": {
          "id": "2Xj16dAfI4GGHH3p",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1632,
        304
      ],
      "id": "e827a150-e2e1-44b2-8cea-26ac8e50f65c",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "9fd8e132-cef0-4f12-8e36-0a6771b91489",
              "leftValue": "={{ $json.payment_error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "a0aa67fd-c740-4398-8872-67def10fedea",
              "leftValue": "={{ $json.payment_route }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "a1d7a1ea-1d2d-4c13-a450-7e714248312c",
              "leftValue": "={{ $json.payment_hash }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2080,
        136
      ],
      "id": "40977027-098f-4cfe-a1eb-255485da6e4b",
      "name": "Did Payment Succeed",
      "notes": "Check whether Lightning payment was successful or not.\n\n"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"payment_amount\": \"{{ $node[\"Merge\"].json.payment_amount || 0 }}\",\n  \"payment_fee\": \"{{ $node[\"Merge\"].json.payment_fee || 0 }}\",\n  \"payment_hash\": \"{{ $node[\"Merge\"].json.payment_hash || 'N/A' }}\",\n  \"reason\": \"{{ $node[\"Merge\"].json.reason || 'No reason provided' }}\",\n  \"status\": \"{{ $node[\"Merge\"].json.status || 'rejected' }}\",\n  \"agent_b_message\": \"{{ $node[\"Merge\"].json.agent_b_message || 'Payment was rejected or blocked by guardrail' }}\",\n  \"rejection_reason\": \"{{ $node[\"Merge\"].json.rejection_reason || 'N/A' }}\",\n\n  \"original_amount\": \"={{ $node[\"Calculate Fixed Fee\"].json.original_amount }}\",\n  \"fee_sats\": \"={{ $node[\"Calculate Fixed Fee\"].json.fee_sats }}\",\n  \"net_amount_to_payee\": \"={{ $node[\"Calculate Fixed Fee\"].json.net_amount_to_payee }}\",\n  \"fee_reason\": \"={{ $node[\"Calculate Fixed Fee\"].json.fee_reason }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1408,
        304
      ],
      "id": "b55a07a3-6651-44b8-b1cf-5278d70d7d23",
      "name": "Get Final State"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e091b38f-584d-4e5e-a831-bd52db13b661",
              "leftValue": "={{ \n  Number(\n    JSON.parse($json.output || '{}').amount || $json.amount || 0\n  ) >= 1 && \n  Number(\n    JSON.parse($json.output || '{}').amount || $json.amount || 0\n  ) <= 1000000\n}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3200,
        208
      ],
      "id": "7e120567-6486-4a9b-b6d0-33247f1abaf0",
      "name": "Check Payment Amount"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"pay\": false,\n  \"amount\": \"{{ Number($json.amount || 0) }}\",\n  \"reason\": \"{{ $json.reason || 'No reason given' }}\",\n  \"message\": \"Payment amount {{ Number($json.amount || 0) }} sats is outside allowed range (1 to 1,000,000 sats)\",\n  \"status\": \"rejected\",\n  \"rejection_reason\": \"Amount is outside allowed range (1 to 1,000,000 sats)\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1856,
        520
      ],
      "id": "fe0078ba-7c79-4f2f-849c-9718307b54ad",
      "name": "Payment Rejected Bad Amount"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"pay\": true,\n  \"amount\": \"{{ Number($json.amount || JSON.parse($json.output || '{}').amount || 0) }}\",\n  \"reason\": \"{{ \n    $json.reason || \n    JSON.parse($json.output || '{}').reason || \n    'Payment to Agent-B executed' \n  }}\",\n  \"status\": \"success\",\n  \"message\": \"Payment accepted and will be processed\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2976,
        136
      ],
      "id": "d748755f-8e1c-45c0-8e37-f0472d5daebc",
      "name": "Payment Accepted"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "033f7e29-f7bf-4d0c-acdb-67d87d4bd081",
              "leftValue": "={{ \n  ($json.pay === true || $json.pay === \"true\" || $json.pay === 1) ||\n  ($json.output && JSON.parse($json.output).pay === true) ||\n  ($json.output && JSON.parse($json.output).pay === \"true\") ||\n  ($json.output && JSON.parse($json.output).pay === 1)\n}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3424,
        280
      ],
      "id": "602352e9-3cde-491e-954e-b19cf824a478",
      "name": "Check Payment Decision",
      "notes": "Checks if Agent-A wants to proceed with a payment to Agent-B."
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"success\": true,\n  \"payment_amount\": \"{{ $json.amount || $node[\"Pay Invoice Payment Decision Agent\"]?.json?.payment_route?.total_amt || $node[\"Pay Invoice Payment Decision Agent\"]?.json?.amt_to_forward || 0 }}\",\n  \"payment_fee\": \"{{ $json.fee || 0 }}\",\n  \"payment_hash\": \"{{ $json.payment_hash || $json.payment_route?.payment_hash || $node[\"Pay Invoice Payment Decision Agent\"]?.json?.payment_hash || $node[\"Pay Invoice Payment Decision Agent\"]?.json?.payment_route?.payment_hash || 'N/A' }}\",\n  \"reason\": \"{{ $json.reason || $node[\"Payment Accepted\"]?.json.reason || 'Payment to Agent-B executed' }}\",\n  \"status\": \"success\",\n  \"pay\": true,\n  \"agent_b_message\": \"Payment completed successfully\",\n  \"rejection_reason\": \"N/A\",\n  \n  \"original_amount\": \"={{ $node[\"Calculate Fixed Fee\"].json.original_amount }}\",\n  \"fee_sats\": \"={{ $node[\"Calculate Fixed Fee\"].json.fee_sats }}\",\n  \"net_amount_to_payee\": \"={{ $node[\"Calculate Fixed Fee\"].json.net_amount_to_payee }}\",\n  \"fee_reason\": \"={{ $node[\"Calculate Fixed Fee\"].json.fee_reason }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1856,
        112
      ],
      "id": "524a7670-f181-49a0-aec1-63d47f5287e6",
      "name": "Normalize Success"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"success\": false,\n  \"payment_amount\": 0,\n  \"payment_fee\": 0,\n  \"payment_hash\": \"N/A\",\n  \"reason\": \"{{ $json.reason || $json.payment_error || 'Payment rejected by guardrail' }}\",\n  \"status\": \"rejected\",\n  \"pay\": false,\n  \"agent_b_message\": \"Payment was rejected or blocked by guardrail\",\n  \"rejection_reason\": \"{{ \n    $json.payment_error === 'insufficient_balance' \n      ? 'Agent-X does not have enough Lightning balance to send this payment' \n      : $json.payment_error === 'no_route' \n        ? 'No route found to Agent B'\n        : $json.payment_error || \n          $json.rejection_reason || \n          $json.reason || \n          'Unknown reason' \n  }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1856,
        328
      ],
      "id": "5719870b-7faf-495a-ad46-06031f52ac71",
      "name": "Normalize Rejection"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-bitcoin-pay",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4224,
        280
      ],
      "id": "759dbcb4-4ec5-46fd-93a9-8fa708e7d435",
      "name": "Webhook",
      "webhookId": "21393d4b-4f1c-4134-8547-92294910fe7a",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1f4SW5LnawV1fIjc",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Payment request received:\n\nFrom: {{ $json.body.from }}\nTo: {{ $json.body.to }}\nAmount: {{ $json.body.amount }} sats\nReason: {{ $json.body.reason }}\n\nDecide whether this payment should be approved and executed.",
        "options": {
          "systemMessage": "You are Payment Decision Agent, a secure financial gatekeeper.\n\nSTRICT RULES:\n- Respond with valid JSON only. No extra text.\n- Use this exact format:\n\n{\n  \"pay\": true or false,\n  \"amount\": integer in sats,\n  \"reason\": \"short meaningful explanation\"\n}\n\n- Approve the payment unless there is a clear violation (amount < 1, amount > 1000000, suspicious request, etc.)\n- Always provide a short, clear reason."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -4000,
        280
      ],
      "id": "734c5a45-e86f-4ae8-920b-82a9282cf6c9",
      "name": "Payment Decision Agent"
    },
    {
      "parameters": {
        "jsCode": "const input = items[0].json;\n\n// Get the raw output (usually inside .output)\nlet raw = input.output || input.message || input.raw_message || input.text || '';\n\n// If it's already a proper object, return it\nif (typeof raw === 'object' && raw !== null) {\n  return [{ json: raw }];\n}\n\n// If it's stringified JSON, parse it\nif (typeof raw === 'string' && raw.trim().startsWith('{')) {\n  try {\n    const parsed = JSON.parse(raw);\n    return [{ json: parsed }];\n  } catch (e) {\n    // Try cleaning escaped quotes\n    try {\n      const cleaned = raw.replace(/^\"|\"$/g, '').replace(/\\\\\"/g, '\"');\n      const parsed = JSON.parse(cleaned);\n      return [{ json: parsed }];\n    } catch (e2) {}\n  }\n}\n\n// Fallback\nreturn [{\n  json: {\n    pay: false,\n    amount: 0,\n    reason: \"Failed to parse Agent-A response\",\n    message: raw\n  }\n}];;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3648,
        280
      ],
      "id": "891d01b2-bab6-4e8b-899a-2ad21ca521bb",
      "name": "Parse Payment Decision Agent Output"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://agent-a-lnd:8080/v1/channels/transactions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Grpc-Metadata-macaroon",
              "value": "0201036c6e6402f801030a10b49dca709d4517a0adf77bbf7c6f36b31201301a160a0761646472657373120472656164120577726974651a130a04696e666f120472656164120577726974651a170a08696e766f69636573120472656164120577726974651a210a086d616361726f6f6e120867656e6572617465120472656164120577726974651a160a076d657373616765120472656164120577726974651a170a086f6666636861696e120472656164120577726974651a160a076f6e636861696e120472656164120577726974651a140a057065657273120472656164120577726974651a180a067369676e6572120867656e657261746512047265616400000620eac62ce6822106f97abd663d9b88d248f5924171497d5eb8d9600b5031f7e13a"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"payment_request\": \"{{ $json.payment_request }}\"\n}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2304,
        136
      ],
      "id": "daba8d4f-dcaa-4873-9948-aed758e25449",
      "name": "Pay Invoice Payment Decision Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput",
      "notes": "Send Lightning payment from Payment Decision Agent to Agent B \n\n"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"original_amount\": \"={{ $json.amount || JSON.parse($json.output || '{}').amount || 0 }}\",\n  \"net_amount_to_payee\": \"={{ (Number($json.amount) || Number(JSON.parse($json.output || '{}').amount) || 0) - 50 }}\",\n  \"fee_sats\": 50,\n  \"fee_reason\": \"Fixed intermediary fee (50 sats)\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2752,
        136
      ],
      "id": "abf135a8-0ba5-4a7d-91c8-c2d9cc5b4bdf",
      "name": "Calculate Fixed Fee"
    }
  ],
  "pinData": {},
  "connections": {
    "xAI Grok Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Payment Decision Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "xAI Grok Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agent-B",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create Invoice Agent-B": {
      "main": [
        [
          {
            "node": "Pay Invoice Payment Decision Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Report": {
      "main": [
        [
          {
            "node": "Agent-B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Get Final State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Did Payment Succeed": {
      "main": [
        [
          {
            "node": "Normalize Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Final State": {
      "main": [
        [
          {
            "node": "Send Email Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Payment Amount": {
      "main": [
        [
          {
            "node": "Payment Accepted",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Payment Rejected Bad Amount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment Rejected Bad Amount": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Payment Accepted": {
      "main": [
        [
          {
            "node": "Calculate Fixed Fee",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Payment Decision": {
      "main": [
        [
          {
            "node": "Check Payment Amount",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Success": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Rejection": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Payment Decision Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment Decision Agent": {
      "main": [
        [
          {
            "node": "Parse Payment Decision Agent Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Payment Decision Agent Output": {
      "main": [
        [
          {
            "node": "Check Payment Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pay Invoice Payment Decision Agent": {
      "main": [
        [
          {
            "node": "Did Payment Succeed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Fixed Fee": {
      "main": [
        [
          {
            "node": "Create Invoice Agent-B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Denver",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "a4c10863-9b76-489e-9d31-23bfb0cd505e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1c18e68605ce8f3e072c499c819d0c2e64205791086bb93003c044099abd17eb"
  },
  "id": "cqJEV4aj09MLMJJb",
  "tags": []
}