Agent-Bitcoin.json
{
  "name": "Agent-Bitcoin",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You just received a message or payment decision from Payment Decision Agent.\n\nRespond based on what actually happened:\n- If a valid payment was received (amount > 0 and amount < 1000001), thank Agent A and mention the amount and reason if available.\n- If the payment was rejected or invalid (amount < 1 or amount > 1000001 or pay: false), politely explain that the payment was not accepted and why. Use the rejection_reason if it is provided.\n\nKeep your response natural, concise, and professional.",
        "options": {
          "systemMessage": "=You are Agent B, a financial agent on regtest.\n\nYou just received a payment decision from Payment Decision Agent.\n\nData received:\npay: {{ $json.pay }}\namount: {{ $json.amount }} sats\nreason: {{ $json.reason }}\nrejection_reason: {{ $json.rejection_reason }}\nmessage: {{ $json.message }}\n\nResponse rules:\nIf pay is true and amount > 0 and amount < 1000001: Respond politely and gratefully. Mention the amount and reason.\nIf pay is false or amount < 1 or amount > 1000000: Respond honestly and clearly. Use the rejection_reason if available to explain why the payment was rejected. Do not thank for the payment.\n\nKeep your responses natural, concise, and professional."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        896,
        192
      ],
      "id": "fd76307c-00fb-46bf-bb5f-f3797419d547",
      "name": "Agent-B"
    },
    {
      "parameters": {
        "model": "grok-4-1-fast-reasoning",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        -1840,
        400
      ],
      "id": "4950462a-ca91-4074-af4f-aa4d927bb52c",
      "name": "xAI Grok Chat Model"
    },
    {
      "parameters": {
        "model": "grok-4-1-fast-reasoning",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        976,
        416
      ],
      "id": "c9e56176-3e9c-4afc-9f61-d7415a9482e6",
      "name": "xAI Grok Chat Model1"
    },
    {
      "parameters": {
        "fromEmail": "richardcaseyhpc@protonmail.com",
        "toEmail": "richardcaseyhpc@protonmail.com",
        "subject": "Agent Bitcoin Payment Report",
        "html": "=<p><strong>Lightning Payment Report</strong></p>\n<p><strong>Date:</strong> {{ $now.format('yyyy-MM-dd') }}</p>\n<p><strong>Time:</strong> {{ $now.format('HH:mm:ss') }}</p>\n<p><strong>From:</strong> {{ $node[\"Merge\"].json.from || $json.from || $node[\"Webhook\"].json.body.from || \"Unknown Agent\" }}</p>\n<p><strong>To:</strong> Agent-B</p>\n<hr>\n\n<p><strong>Status:</strong> \n  {{ $node[\"Get Final State\"].json.status === 'rejected' ? '❌ Rejected' : '✅ Success' }}\n</p>\n\n<p><strong>Original Amount:</strong> {{ $node[\"Get Final State\"].json.original_amount || $node[\"Merge\"].json.payment_amount || 0 }} sats</p>\n<p><strong>Fee (Intermediary):</strong> {{ $node[\"Get Final State\"].json.fee_sats || 0 }} sats</p>\n<p><strong>Net Amount to Recipient:</strong> {{ $node[\"Get Final State\"].json.net_amount_to_payee || $node[\"Get Final State\"].json.payment_amount || 0 }} sats</p>\n\n<p><strong>Payment Hash:</strong> {{ $node[\"Get Final State\"].json.payment_hash }}</p>\n<p><strong>Reason:</strong> {{ $node[\"Get Final State\"].json.reason }}</p>\n\n{{ $node[\"Get Final State\"].json.status === 'rejected' ? \n  '<p><strong>Rejection Message:</strong> ' + \n  ($node[\"Get Final State\"].json.rejection_reason || \n   $node[\"Get Final State\"].json.agent_b_message || \n   'Payment was rejected or blocked by guardrail') + \n  '</p>' \n: '' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        672,
        192
      ],
      "id": "d9c19b31-c7ec-4a08-ae07-0c80a979f353",
      "name": "Send Email Report",
      "webhookId": "8046c746-8f9f-4a48-b844-a4f79bc97f0c"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        224,
        192
      ],
      "id": "b3cbc5ac-fb7c-4b62-b7c8-8c501da8dd78",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "9fd8e132-cef0-4f12-8e36-0a6771b91489",
              "leftValue": "={{ $json.payment_error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "a0aa67fd-c740-4398-8872-67def10fedea",
              "leftValue": "={{ $json.payment_route }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "a1d7a1ea-1d2d-4c13-a450-7e714248312c",
              "leftValue": "={{ $json.payment_hash }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        32
      ],
      "id": "da59bcc1-8b5d-442e-a769-7f93dbd633bb",
      "name": "Did Payment Succeed",
      "notes": "Check whether Lightning payment was successful or not.\n\n"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"payment_amount\": \"{{ $node[\"Merge\"].json.payment_amount || 0 }}\",\n  \"payment_fee\": \"{{ $node[\"Merge\"].json.payment_fee || 0 }}\",\n  \"payment_hash\": \"{{ $node[\"Merge\"].json.payment_hash || 'N/A' }}\",\n  \"reason\": \"{{ $node[\"Merge\"].json.reason || 'No reason provided' }}\",\n  \"status\": \"{{ $node[\"Merge\"].json.status || 'rejected' }}\",\n  \"agent_b_message\": \"{{ $node[\"Merge\"].json.agent_b_message || 'Payment was rejected or blocked by guardrail' }}\",\n  \"rejection_reason\": \"{{ $node[\"Merge\"].json.rejection_reason || 'N/A' }}\",\n\n  \"original_amount\": \"={{ $node[\"Calculate Fixed Fee\"].json.original_amount }}\",\n  \"fee_sats\": \"={{ $node[\"Calculate Fixed Fee\"].json.fee_sats }}\",\n  \"net_amount_to_payee\": \"={{ $node[\"Calculate Fixed Fee\"].json.net_amount_to_payee }}\",\n  \"fee_reason\": \"={{ $node[\"Calculate Fixed Fee\"].json.fee_reason }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        192
      ],
      "id": "7bb5916d-d124-4c58-b61f-820c3dfd94ab",
      "name": "Get Final State"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e091b38f-584d-4e5e-a831-bd52db13b661",
              "leftValue": "={{ \n  Number(\n    JSON.parse($json.output || '{}').amount || $json.amount || 0\n  ) >= 1 && \n  Number(\n    JSON.parse($json.output || '{}').amount || $json.amount || 0\n  ) <= 1000000\n}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1120,
        96
      ],
      "id": "0582c4d9-3167-4db6-a571-978874d02abb",
      "name": "Check Payment Amount"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"pay\": false,\n  \"amount\": \"{{ Number($json.amount || 0) }}\",\n  \"reason\": \"{{ $json.reason || 'No reason given' }}\",\n  \"message\": \"Payment amount {{ Number($json.amount || 0) }} sats is outside allowed range (1 to 1,000,000 sats)\",\n  \"status\": \"rejected\",\n  \"rejection_reason\": \"Amount is outside allowed range (1 to 1,000,000 sats)\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        416
      ],
      "id": "80829269-0b29-4e5c-a138-29eaf62fe190",
      "name": "Payment Rejected Bad Amount"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "033f7e29-f7bf-4d0c-acdb-67d87d4bd081",
              "leftValue": "={{ \n  ($json.pay === true || $json.pay === \"true\" || $json.pay === 1) ||\n  ($json.output && JSON.parse($json.output).pay === true) ||\n  ($json.output && JSON.parse($json.output).pay === \"true\") ||\n  ($json.output && JSON.parse($json.output).pay === 1)\n}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1344,
        176
      ],
      "id": "769e4f19-6406-4914-9d6b-b8b501e86020",
      "name": "Check Payment Decision",
      "notes": "Checks if Agent-X wants to proceed with a payment to Agent-B."
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"success\": true,\n  \"payment_amount\": \"{{ $json.amount || $node[\"Pay Invoice Payment Decision Agent\"]?.json?.payment_route?.total_amt || $node[\"Pay Invoice Payment Decision Agent\"]?.json?.amt_to_forward || 0 }}\",\n  \"payment_fee\": \"{{ $json.fee || 0 }}\",\n  \"payment_hash\": \"{{ $json.payment_hash || $json.payment_route?.payment_hash || $node[\"Pay Invoice Payment Decision Agent\"]?.json?.payment_hash || $node[\"Pay Invoice Payment Decision Agent\"]?.json?.payment_route?.payment_hash || 'N/A' }}\",\n  \"reason\": \"{{ $json.reason || $node[\"Payment Accepted 1\"]?.json.reason || 'Payment to Agent-B executed' }}\",\n  \"status\": \"success\",\n  \"pay\": true,\n  \"agent_b_message\": \"Payment completed successfully\",\n  \"rejection_reason\": \"N/A\",\n  \n  \"original_amount\": \"={{ $node[\"Calculate Fixed Fee\"].json.original_amount }}\",\n  \"fee_sats\": \"={{ $node[\"Calculate Fixed Fee\"].json.fee_sats }}\",\n  \"net_amount_to_payee\": \"={{ $node[\"Calculate Fixed Fee\"].json.net_amount_to_payee }}\",\n  \"fee_reason\": \"={{ $node[\"Calculate Fixed Fee\"].json.fee_reason }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "0711f7bd-3d4b-451a-9b6a-cad8cd3a70f5",
      "name": "Normalize Success"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"success\": false,\n  \"payment_amount\": 0,\n  \"payment_fee\": 0,\n  \"payment_hash\": \"N/A\",\n  \"reason\": \"{{ $json.reason || $json.payment_error || 'Payment rejected by guardrail' }}\",\n  \"status\": \"rejected\",\n  \"pay\": false,\n  \"agent_b_message\": \"Payment was rejected or blocked by guardrail\",\n  \"rejection_reason\": \"{{ \n    $json.payment_error === 'insufficient_balance' \n      ? 'Agent-X does not have enough Lightning balance to send this payment' \n      : $json.payment_error === 'no_route' \n        ? 'No route found to Agent B'\n        : $json.payment_error || \n          $json.rejection_reason || \n          $json.reason || \n          'Unknown reason' \n  }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        224
      ],
      "id": "a8c6a387-ffe5-4ac6-8f55-a3a8b64555e7",
      "name": "Normalize Rejection"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-bitcoin-pay",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2144,
        176
      ],
      "id": "b3903599-dc4b-42d3-9c7d-2032139605e5",
      "name": "Webhook",
      "webhookId": "21393d4b-4f1c-4134-8547-92294910fe7a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Payment request received:\n\nFrom: {{ $json.body.from }}\nTo: {{ $json.body.to }}\nAmount: {{ $json.body.amount }} sats\nReason: {{ $json.body.reason }}\n\nDecide whether this payment should be approved and executed.",
        "options": {
          "systemMessage": "You are Payment Decision Agent, a secure financial gatekeeper.\n\nSTRICT RULES:\n- Respond with valid JSON only. No extra text.\n- Use this exact format:\n\n{\n  \"pay\": true or false,\n  \"amount\": integer in sats,\n  \"reason\": \"short meaningful explanation\"\n}\n\n- Approve the payment unless there is a clear violation (amount < 1, amount > 1000000, suspicious request, etc.)\n- Always provide a short, clear reason."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1920,
        176
      ],
      "id": "6b56ba27-e77a-45cb-b9f4-13c0177c8611",
      "name": "Payment Decision Agent"
    },
    {
      "parameters": {
        "jsCode": "const input = items[0].json;\n\n// Get the raw output (usually inside .output)\nlet raw = input.output || input.message || input.raw_message || input.text || '';\n\n// If it's already a proper object, return it\nif (typeof raw === 'object' && raw !== null) {\n  return [{ json: raw }];\n}\n\n// If it's stringified JSON, parse it\nif (typeof raw === 'string' && raw.trim().startsWith('{')) {\n  try {\n    const parsed = JSON.parse(raw);\n    return [{ json: parsed }];\n  } catch (e) {\n    // Try cleaning escaped quotes\n    try {\n      const cleaned = raw.replace(/^\"|\"$/g, '').replace(/\\\\\"/g, '\"');\n      const parsed = JSON.parse(cleaned);\n      return [{ json: parsed }];\n    } catch (e2) {}\n  }\n}\n\n// Fallback\nreturn [{\n  json: {\n    pay: false,\n    amount: 0,\n    reason: \"Failed to parse Agent-X response\",\n    message: raw\n  }\n}];;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1568,
        176
      ],
      "id": "05ac3f3f-7417-4b8f-868d-2baad03c9f83",
      "name": "Parse Payment Decision Agent Output"
    },
    {
      "parameters": {
        "jsCode": "const input = items[0].json;\n\n// Force amount to be a real number\nconst amount = Number(input.amount || 0);\n\nreturn [{\n  json: {\n    original_amount: amount,\n    net_amount_to_payee: amount - 50,\n    fee_sats: 50,\n    fee_reason: \"Fixed intermediary fee (50 sats)\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2144,
        640
      ],
      "id": "89644a2c-5607-4956-bedd-4f0ced54eeaa",
      "name": "Calculate Fixed Fee",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const input = items[0].json;\nconst amount = Number(input.amount || 0);\n\nreturn [{\n  json: {\n    pay: true,\n    amount: amount,\n    reason: input.reason || \"Valid request within limits\",\n    status: \"success\",\n    message: \"Payment accepted and will be processed\",\n    net_amount_to_payee: amount - 50,\n    fee_sats: 50\n  }\n}];;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        32
      ],
      "id": "b5d7349a-36c0-4170-b1fc-7ac34de53876",
      "name": "Payment Accepted"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://agent-x-lnd:8080/v1/channels/transactions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Grpc-Metadata-macaroon",
              "value": "AgEDbG5kAvgBAwoQMDQM2v2FKwa7wp3OrH3NxxIAgEDbG5kAvgBAwoQMDQM2v2FKwa7wp3OrH3NxxIBMBoWCgdhZGRyZXNzEgRyZWFkEgV3cml0ZRoTCgRpbmZvEgRyZWFkEgV3cml0ZRoXCghpbnZvaWNlcxIEcmVhZBIFd3JpdGUaIQoIbWFjYXJvb24SCGdlbmVyYXRlEgRyZWFkEgV3cml0ZRoWCgdtZXNzYWdlEgRyZWFkEgV3cml0ZRoXCghvZmZjaGFpbhIEcmVhZBIFd3JpdGUaFgoHb25jaGFpbhIEcmVhZBIFd3JpdGUaFAoFcGVlcnMSBHJlYWQSBXdyaXRlGhgKBnNpZ25lchIIZ2VuZXJhdGUSBHJlYWQAAAYgV1Xd+i2i+uNTTjnUyj0wHcqiaxY2TEK+k14W1SD6b0Y="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"payment_request\": \"{{ $json.payment_request }}\"\n}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -448,
        32
      ],
      "id": "6beb1b29-70a2-4d25-b127-665debf1423d",
      "name": "Pay Invoice Payment Decision Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput",
      "notes": "Send Lightning payment from Payment Decision Agent to Agent B.\n\nUse Agent-X macaroon.\n\n"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://agent-b-lnd:8080/v1/invoices",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Grpc-Metadata-macaroon",
              "value": "AgEDbG5kAvgBAwoQO6MEqivRyMhBH+YXMUtgfBIBMBoWCgdhZGRyZXNzEgRyZWFkEgV3cml0ZRoTCgRpbmZvEgRyZWFkEgV3cml0ZRoXCghpbnZvaWNlcxIEcmVhZBIFd3JpdGUaIQoIbWFjYXJvb24SCGdlbmVyYXRlEgRyZWFkEgV3cml0ZRoWCgdtZXNzYWdlEgRyZWFkEgV3cml0ZRoXCghvZmZjaGFpbhIEcmVhZBIFd3JpdGUaFgoHb25jaGFpbhIEcmVhZBIFd3JpdGUaFAoFcGVlcnMSBHJlYWQSBXdyaXRlGhgKBnNpZ25lchIIZ2VuZXJhdGUSBHJlYWQAAAYgHHu1ouf5fs/UNcbb5383e3tXXsdwTzkt3zYUgmaZMU8="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"memo\": \"{{ $json.reason || 'Payment from Agent-X' }}\",\n  \"value\": \"{{ $json.net_amount_to_payee }}\"\n}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1200,
        496
      ],
      "id": "f40bb32e-102b-418b-a2a5-457ba975f246",
      "name": "Create Invoice Agent-B 1",
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "alwaysOutputData": false,
      "disabled": true,
      "onError": "continueRegularOutput",
      "notes": "Use Agent-B macaroon."
    },
    {
      "parameters": {
        "jsCode": "const input = items[0].json;\n\nconst memo = input.reason || \"Payment from Agent-X\";\nconst value = Number(input.net_amount_to_payee || 950);\n\nconst result = await this.helpers.executeCommand({\n  command: `docker compose exec agent-b-lnd lncli --network=regtest addinvoice --memo=\"${memo}\" --value=${value}`\n});\n\nreturn [{\n  json: {\n    success: true,\n    memo: memo,\n    value: value,\n    raw: result\n  }\n}];;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        464
      ],
      "id": "2f189960-c225-4d6d-a5cd-2e42f33a37ff",
      "name": "Create Invoice Agent-B",
      "disabled": true
    },
    {
      "parameters": {
        "command": "docker exec agent-b-lnd lncli --network=regtest addinvoice --memo=\"{{ $json.reason || 'Payment from Agent-X' }}\" --value={{ $json.net_amount_to_payee }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -688,
        32
      ],
      "id": "3b0acb13-1089-41d6-a1cc-a6b4aa4537b5",
      "name": "Create Invoice Agent-B1"
    }
  ],
  "pinData": {},
  "connections": {
    "xAI Grok Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Payment Decision Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "xAI Grok Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agent-B",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Report": {
      "main": [
        [
          {
            "node": "Agent-B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Get Final State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Did Payment Succeed": {
      "main": [
        [
          {
            "node": "Normalize Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Final State": {
      "main": [
        [
          {
            "node": "Send Email Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Payment Amount": {
      "main": [
        [
          {
            "node": "Payment Accepted",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Payment Rejected Bad Amount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment Rejected Bad Amount": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Check Payment Decision": {
      "main": [
        [
          {
            "node": "Check Payment Amount",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Success": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Rejection": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Payment Decision Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment Decision Agent": {
      "main": [
        [
          {
            "node": "Parse Payment Decision Agent Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Payment Decision Agent Output": {
      "main": [
        [
          {
            "node": "Check Payment Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pay Invoice Payment Decision Agent": {
      "main": [
        [
          {
            "node": "Did Payment Succeed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment Accepted": {
      "main": [
        [
          {
            "node": "Create Invoice Agent-B1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Invoice Agent-B1": {
      "main": [
        [
          {
            "node": "Pay Invoice Payment Decision Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "baa0a374-73d7-4b26-a826-064eb780f189",
  "meta": {
    "instanceId": "726ab72f45d14777f25b2906f297d4fa3491902f5759551488dbdc516bc007aa"
  },
  "nodeGroups": [],
  "id": "5DQzDeIKz77JDjMX",
  "tags": []
}