Agent-Bitcoin.json
{
  "name": "Agent-Bitcoin",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You just received a message or payment decision from Payment Decision Agent.\n\nRespond based on what actually happened:\n- If a valid payment was received (amount > 0 and amount < 1000001), thank Agent A and mention the amount and reason if available.\n- If the payment was rejected or invalid (amount < 1 or amount > 1000001 or pay: false), politely explain that the payment was not accepted and why. Use the rejection_reason if it is provided.\n\nKeep your response natural, concise, and professional.",
        "options": {
          "systemMessage": "=You are Agent B, a financial agent on regtest.\n\nYou just received a payment decision from Payment Decision Agent.\n\nData received:\npay: {{ $json.pay }}\namount: {{ $json.amount }} sats\nreason: {{ $json.reason }}\nrejection_reason: {{ $json.rejection_reason }}\nmessage: {{ $json.message }}\n\nResponse rules:\nIf pay is true and amount > 0 and amount < 1000001: Respond politely and gratefully. Mention the amount and reason.\nIf pay is false or amount < 1 or amount > 1000000: Respond honestly and clearly. Use the rejection_reason if available to explain why the payment was rejected. Do not thank for the payment.\n\nKeep your responses natural, concise, and professional."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2240,
        176
      ],
      "id": "15ce0d94-1a3f-4e55-8a55-cbff6fd9f470",
      "name": "Agent-B"
    },
    {
      "parameters": {
        "model": "grok-4-1-fast-reasoning",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        -736,
        272
      ],
      "id": "e43d8318-9e88-4675-83cf-8f81c25ecaec",
      "name": "xAI Grok Chat Model"
    },
    {
      "parameters": {
        "model": "grok-4-1-fast-reasoning",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        2320,
        400
      ],
      "id": "224ec20a-fb55-4027-b350-f7522af47b95",
      "name": "xAI Grok Chat Model1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://agent-b-lnd:8080/v1/invoices",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Grpc-Metadata-macaroon",
              "value": "AgEDbG5kAtQBAwoQl2a24n/c6/JD4GHMSFISbBIBMBoWCgdhZGRyZXNzEgRyZWFkEgV3cml0ZRoTCgRpbmZvEgRyZWFkEgV3cml0ZRoXCghpbnZvaWNlcxIEcmVhZBIFd3JpdGUaFwoIbWFjYXJvb24SBHJlYWQSBXdyaXRlGhYKB21lc3NhZ2USBHJlYWQSBXdyaXRlGhcKCG9mZmNoYWluEgRyZWFkEgV3cml0ZRoWCgdvbmNoYWluEgRyZWFkEgV3cml0ZRoUCgVwZWVycxIEcmVhZBIFd3JpdGUAAAYguW/H9ThYGOYXJJ1RHlFJnMUSl6OxI4uThLnPHThYKWU=%"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"memo\": \"{{ $json.reason || 'Payment from Agent-X' }}\",\n  \"value\": \"={{ Number($node[\"Calculate Fixed Fee\"].json.net_amount_to_payee) }}\"\n}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        0
      ],
      "id": "b6bc9782-9d14-416d-97f1-647f8c38c770",
      "name": "Create Invoice Agent-B",
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fromEmail": "richardcaseyhpc@protonmail.com",
        "toEmail": "richardcaseyhpc@protonmail.com",
        "subject": "Agent Bitcoin Payment Report",
        "html": "=<p><strong>Lightning Payment Report</strong></p>\n<p><strong>Date:</strong> {{ $now.format('yyyy-MM-dd') }}</p>\n<p><strong>Time:</strong> {{ $now.format('HH:mm:ss') }}</p>\n<p><strong>From:</strong> {{ $node[\"Merge\"].json.from || $json.from || $node[\"Webhook\"].json.body.from || \"Unknown Agent\" }}</p>\n<p><strong>To:</strong> Agent-B</p>\n<hr>\n\n<p><strong>Status:</strong> \n  {{ $node[\"Get Final State\"].json.status === 'rejected' ? '❌ Rejected' : '✅ Success' }}\n</p>\n\n<p><strong>Original Amount:</strong> {{ $node[\"Get Final State\"].json.original_amount || $node[\"Merge\"].json.payment_amount || 0 }} sats</p>\n<p><strong>Fee (Intermediary):</strong> {{ $node[\"Get Final State\"].json.fee_sats || 0 }} sats</p>\n<p><strong>Net Amount to Recipient:</strong> {{ $node[\"Get Final State\"].json.net_amount_to_payee || $node[\"Get Final State\"].json.payment_amount || 0 }} sats</p>\n\n<p><strong>Payment Hash:</strong> {{ $node[\"Get Final State\"].json.payment_hash }}</p>\n<p><strong>Reason:</strong> {{ $node[\"Get Final State\"].json.reason }}</p>\n\n{{ $node[\"Get Final State\"].json.status === 'rejected' ? \n  '<p><strong>Rejection Message:</strong> ' + \n  ($node[\"Get Final State\"].json.rejection_reason || \n   $node[\"Get Final State\"].json.agent_b_message || \n   'Payment was rejected or blocked by guardrail') + \n  '</p>' \n: '' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2016,
        176
      ],
      "id": "7b39a587-a70b-431a-af44-6b501b023ca4",
      "name": "Send Email Report",
      "webhookId": "8046c746-8f9f-4a48-b844-a4f79bc97f0c"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1568,
        176
      ],
      "id": "a8e054cb-1e26-4739-a6ab-c080f774c13c",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "9fd8e132-cef0-4f12-8e36-0a6771b91489",
              "leftValue": "={{ $json.payment_error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "a0aa67fd-c740-4398-8872-67def10fedea",
              "leftValue": "={{ $json.payment_route }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "a1d7a1ea-1d2d-4c13-a450-7e714248312c",
              "leftValue": "={{ $json.payment_hash }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1120,
        0
      ],
      "id": "016afac8-8eea-4647-a876-bb34fe915dae",
      "name": "Did Payment Succeed",
      "notes": "Check whether Lightning payment was successful or not.\n\n"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"payment_amount\": \"{{ $node[\"Merge\"].json.payment_amount || 0 }}\",\n  \"payment_fee\": \"{{ $node[\"Merge\"].json.payment_fee || 0 }}\",\n  \"payment_hash\": \"{{ $node[\"Merge\"].json.payment_hash || 'N/A' }}\",\n  \"reason\": \"{{ $node[\"Merge\"].json.reason || 'No reason provided' }}\",\n  \"status\": \"{{ $node[\"Merge\"].json.status || 'rejected' }}\",\n  \"agent_b_message\": \"{{ $node[\"Merge\"].json.agent_b_message || 'Payment was rejected or blocked by guardrail' }}\",\n  \"rejection_reason\": \"{{ $node[\"Merge\"].json.rejection_reason || 'N/A' }}\",\n\n  \"original_amount\": \"={{ $node[\"Calculate Fixed Fee\"].json.original_amount }}\",\n  \"fee_sats\": \"={{ $node[\"Calculate Fixed Fee\"].json.fee_sats }}\",\n  \"net_amount_to_payee\": \"={{ $node[\"Calculate Fixed Fee\"].json.net_amount_to_payee }}\",\n  \"fee_reason\": \"={{ $node[\"Calculate Fixed Fee\"].json.fee_reason }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        176
      ],
      "id": "e4096547-1ca3-4189-a161-cb4c0d6af439",
      "name": "Get Final State"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e091b38f-584d-4e5e-a831-bd52db13b661",
              "leftValue": "={{ \n  Number(\n    JSON.parse($json.output || '{}').amount || $json.amount || 0\n  ) >= 1 && \n  Number(\n    JSON.parse($json.output || '{}').amount || $json.amount || 0\n  ) <= 1000000\n}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "ded87d20-4382-4fbc-9796-2d0642a1387d",
      "name": "Check Payment Amount"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"pay\": false,\n  \"amount\": \"{{ Number($json.amount || 0) }}\",\n  \"reason\": \"{{ $json.reason || 'No reason given' }}\",\n  \"message\": \"Payment amount {{ Number($json.amount || 0) }} sats is outside allowed range (1 to 1,000,000 sats)\",\n  \"status\": \"rejected\",\n  \"rejection_reason\": \"Amount is outside allowed range (1 to 1,000,000 sats)\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        384
      ],
      "id": "d083b756-794c-4930-95cb-1f450a770af0",
      "name": "Payment Rejected Bad Amount"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"pay\": true,\n  \"amount\": \"{{ Number($json.amount) }}\",\n  \"reason\": \"{{ \n    $json.reason || \n    JSON.parse($json.output || '{}').reason || \n    'Payment to Agent-B executed' \n  }}\",\n  \"status\": \"success\",\n  \"message\": \"Payment accepted and will be processed\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "81f52472-52de-4a2e-980f-a59ac65548f5",
      "name": "Payment Accepted"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "033f7e29-f7bf-4d0c-acdb-67d87d4bd081",
              "leftValue": "={{ \n  ($json.pay === true || $json.pay === \"true\" || $json.pay === 1) ||\n  ($json.output && JSON.parse($json.output).pay === true) ||\n  ($json.output && JSON.parse($json.output).pay === \"true\") ||\n  ($json.output && JSON.parse($json.output).pay === 1)\n}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        48
      ],
      "id": "5525de28-1ede-4ed1-8dbd-333d891ed563",
      "name": "Check Payment Decision",
      "notes": "Checks if Agent-X wants to proceed with a payment to Agent-B."
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"success\": true,\n  \"payment_amount\": \"{{ $json.amount || $node[\"Pay Invoice Payment Decision Agent\"]?.json?.payment_route?.total_amt || $node[\"Pay Invoice Payment Decision Agent\"]?.json?.amt_to_forward || 0 }}\",\n  \"payment_fee\": \"{{ $json.fee || 0 }}\",\n  \"payment_hash\": \"{{ $json.payment_hash || $json.payment_route?.payment_hash || $node[\"Pay Invoice Payment Decision Agent\"]?.json?.payment_hash || $node[\"Pay Invoice Payment Decision Agent\"]?.json?.payment_route?.payment_hash || 'N/A' }}\",\n  \"reason\": \"{{ $json.reason || $node[\"Payment Accepted\"]?.json.reason || 'Payment to Agent-B executed' }}\",\n  \"status\": \"success\",\n  \"pay\": true,\n  \"agent_b_message\": \"Payment completed successfully\",\n  \"rejection_reason\": \"N/A\",\n  \n  \"original_amount\": \"={{ $node[\"Calculate Fixed Fee\"].json.original_amount }}\",\n  \"fee_sats\": \"={{ $node[\"Calculate Fixed Fee\"].json.fee_sats }}\",\n  \"net_amount_to_payee\": \"={{ $node[\"Calculate Fixed Fee\"].json.net_amount_to_payee }}\",\n  \"fee_reason\": \"={{ $node[\"Calculate Fixed Fee\"].json.fee_reason }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        192
      ],
      "id": "e9246c3d-bd4b-43b3-9ff0-9c572ba4c5da",
      "name": "Normalize Success"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"success\": false,\n  \"payment_amount\": 0,\n  \"payment_fee\": 0,\n  \"payment_hash\": \"N/A\",\n  \"reason\": \"{{ $json.reason || $json.payment_error || 'Payment rejected by guardrail' }}\",\n  \"status\": \"rejected\",\n  \"pay\": false,\n  \"agent_b_message\": \"Payment was rejected or blocked by guardrail\",\n  \"rejection_reason\": \"{{ \n    $json.payment_error === 'insufficient_balance' \n      ? 'Agent-X does not have enough Lightning balance to send this payment' \n      : $json.payment_error === 'no_route' \n        ? 'No route found to Agent B'\n        : $json.payment_error || \n          $json.rejection_reason || \n          $json.reason || \n          'Unknown reason' \n  }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        224
      ],
      "id": "d63a7d26-e7b2-46b9-9140-2ad461249d24",
      "name": "Normalize Rejection"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-bitcoin-pay",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1024,
        48
      ],
      "id": "7201ff5d-ed3f-45c4-af68-f5752969243a",
      "name": "Webhook",
      "webhookId": "21393d4b-4f1c-4134-8547-92294910fe7a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Payment request received:\n\nFrom: {{ $json.body.from }}\nTo: {{ $json.body.to }}\nAmount: {{ $json.body.amount }} sats\nReason: {{ $json.body.reason }}\n\nDecide whether this payment should be approved and executed.",
        "options": {
          "systemMessage": "You are Payment Decision Agent, a secure financial gatekeeper.\n\nSTRICT RULES:\n- Respond with valid JSON only. No extra text.\n- Use this exact format:\n\n{\n  \"pay\": true or false,\n  \"amount\": integer in sats,\n  \"reason\": \"short meaningful explanation\"\n}\n\n- Approve the payment unless there is a clear violation (amount < 1, amount > 1000000, suspicious request, etc.)\n- Always provide a short, clear reason."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -800,
        48
      ],
      "id": "3b6037d6-3354-455a-97c4-2eed5312b982",
      "name": "Payment Decision Agent"
    },
    {
      "parameters": {
        "jsCode": "const input = items[0].json;\n\n// Get the raw output (usually inside .output)\nlet raw = input.output || input.message || input.raw_message || input.text || '';\n\n// If it's already a proper object, return it\nif (typeof raw === 'object' && raw !== null) {\n  return [{ json: raw }];\n}\n\n// If it's stringified JSON, parse it\nif (typeof raw === 'string' && raw.trim().startsWith('{')) {\n  try {\n    const parsed = JSON.parse(raw);\n    return [{ json: parsed }];\n  } catch (e) {\n    // Try cleaning escaped quotes\n    try {\n      const cleaned = raw.replace(/^\"|\"$/g, '').replace(/\\\\\"/g, '\"');\n      const parsed = JSON.parse(cleaned);\n      return [{ json: parsed }];\n    } catch (e2) {}\n  }\n}\n\n// Fallback\nreturn [{\n  json: {\n    pay: false,\n    amount: 0,\n    reason: \"Failed to parse Agent-X response\",\n    message: raw\n  }\n}];;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        48
      ],
      "id": "fc3c2862-49e5-4164-bd10-74bf1c357110",
      "name": "Parse Payment Decision Agent Output"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://agent-x-lnd:8080/v1/channels/transactions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Grpc-Metadata-macaroon",
              "value": "AgEDbG5kAtQBAwoQMwqiewMrCul6GTFZO/q1hhIBMBoWCgdhZGRyZXNzEgRyZWFkEgV3cml0ZRoTCgRpbmZvEgRyZWFkEgV3cml0ZRoXCghpbnZvaWNlcxIEcmVhZBIFd3JpdGUaFwoIbWFjYXJvb24SBHJlYWQSBXdyaXRlGhYKB21lc3NhZ2USBHJlYWQSBXdyaXRlGhcKCG9mZmNoYWluEgRyZWFkEgV3cml0ZRoWCgdvbmNoYWluEgRyZWFkEgV3cml0ZRoUCgVwZWVycxIEcmVhZBIFd3JpdGUAAAYgcSyhEXVH3sUPVBWoHHkjtDphbmm9hmIuiCJkrgv9/Xg=%"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"payment_request\": \"{{ $json.payment_request }}\"\n}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        0
      ],
      "id": "6a6f789c-b93a-4a63-96a0-b45e2a32d4f5",
      "name": "Pay Invoice Payment Decision Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput",
      "notes": "Send Lightning payment from Payment Decision Agent to Agent B \n\n"
    },
    {
      "parameters": {
        "jsCode": "const input = items[0].json;\n\n// Force amount to be a real number\nconst amount = Number(input.amount || 0);\n\nreturn [{\n  json: {\n    original_amount: amount,\n    net_amount_to_payee: amount - 50,\n    fee_sats: 50,\n    fee_reason: \"Fixed intermediary fee (50 sats)\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        0
      ],
      "id": "7b195310-d0de-4d58-a7f9-0747ed7f93a1",
      "name": "Calculate Fixed Fee"
    }
  ],
  "pinData": {},
  "connections": {
    "xAI Grok Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Payment Decision Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "xAI Grok Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agent-B",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create Invoice Agent-B": {
      "main": [
        [
          {
            "node": "Pay Invoice Payment Decision Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Report": {
      "main": [
        [
          {
            "node": "Agent-B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Get Final State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Did Payment Succeed": {
      "main": [
        [
          {
            "node": "Normalize Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Final State": {
      "main": [
        [
          {
            "node": "Send Email Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Payment Amount": {
      "main": [
        [
          {
            "node": "Payment Accepted",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Payment Rejected Bad Amount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment Rejected Bad Amount": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Payment Accepted": {
      "main": [
        [
          {
            "node": "Calculate Fixed Fee",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Payment Decision": {
      "main": [
        [
          {
            "node": "Check Payment Amount",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Success": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Rejection": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Payment Decision Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment Decision Agent": {
      "main": [
        [
          {
            "node": "Parse Payment Decision Agent Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Payment Decision Agent Output": {
      "main": [
        [
          {
            "node": "Check Payment Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pay Invoice Payment Decision Agent": {
      "main": [
        [
          {
            "node": "Did Payment Succeed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Fixed Fee": {
      "main": [
        [
          {
            "node": "Create Invoice Agent-B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1a632797-32bb-4581-aa19-4dfc8642ea38",
  "meta": {
    "instanceId": "0a4749d55a11ffe796be4c67899cf7507f2af406af788d1dc09989fcd1e47615"
  },
  "nodeGroups": [],
  "id": "oZT4FBEtjHZZDmpA",
  "tags": []
}